<div ng-controller="ModelController" ng-init="init()" ui-view>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3" ng-repeat="model in models | filter:filter.input">
                <md-card>
                    <md-card-content>
                        <h2 class="text-center">{{model.nome}}</h2>
                    </md-card-content>
                    <md-button ng-click="openDialog(model.codigo)">Info about this model</md-button>
                </md-card>
            </div>
        </div>
    </div>
</div>