body{
    background-color: rgb(241, 241, 241) !important; 
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}

#modalModelSearch {
    min-height: 20%;
    min-width: 25%;
}